/* 这是头部导航栏开始 */
.head_nav {
  padding: 0px 40px;
  height: 40px;
  background: #2c0903;
}

.head_nav .logo a {
  display: inline-block;
  font-size: 0;
  width: 61.82px;
  height: 40px;
  background: url(../imges/icon-sprite.png) no-repeat -18px -75px;
  margin-right: 30px;
}

.head_title li {
  height: 40px;
  line-height: 40px;
  float: left;
}

.head_title li {
  margin-right: 30px;
}

.head_title a {
  display: block;
  color: rgba(255, 255, 255, .7);
  font-size: 15px;
}

.head_title a:hover {
  color: #fff;
}

.head_title ul :nth-child(1) {
  position: relative;
  cursor: pointer;
}

.head_title li .shadow {
  text-shadow: 0 0 15px #fff, 0 0 30px rgba(255, 255, 255, .3);
  color: #fff;
}

.zhibiao {
  margin: 18px 0;
  width: 14px;
  height: 7px;
  background: url(../imges/icon-sprite.png) no-repeat -144px -131px;
}

.head_title .game_extend {
  position: absolute;
  top: 40px;
  left: -132px;
  height: 210px;
  width: 1453px;
  padding: 35px 40px;
  display: none;
  background: #171c25;
  border: 1px solid rgba(255, 255, 255, .15);
  z-index: 1000;
}

.head_title .game_extend li {
  float: left;
  width: 141.775px;
  height: 180px;
  overflow: hidden;
  margin: 0 20px 0 0;
}

.head_title .game_extend a {
  display: block;
}

.head_title .game_extend img {
  width: 216px;
  height: 180px;
  position: absolute;
  right: -38px;
}

.head_title .game_extend .fang {
  border: 1px solid transparent;
  position: absolute;
  left: 175px;
  top: 0px;
  width: 10px;
  height: 10px;
  border-top: solid 1px rgba(255, 255, 255, .15);
  border-right: solid 1px rgba(255, 255, 255, .15);
  background: #171c25;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.lll {
  color: rgba(255, 255, 255, .7);
}

.lll:hover {
  color: #fff;
}

.sports_extend {
  position: absolute;
  top: 40px;
  left: 0;
  height: 272.4px;
  width: 100%;
  display: none;
  background: #171c25;
  border: 1px solid rgba(255, 255, 255, .15);
  border-left: 0;
  border-right: 0;
  z-index: 1000;
}

.head_title .sports_extend ul {
  width: 1164px;
  margin: 0 auto;
  overflow: hidden;
}

.head_title .sports .sports_extend li {
  padding-bottom: 40px;
  width: 190px;
  height: 232.2px;
  margin: 0;
}

.head_title .sports_extend li a {
  display: block;
  float: left;
}

.head_title .sports_extend li div {
  text-align: center;
  font-size: 14px;
}

.head_title .sports_extend li img {
  width: 190px;
  height: 192px;
}

.head_title .sports .sports_extend .bisai {
  display: none;
  width: 100px;
  height: 291px;
  margin-left: 190px;
}

.head_title .sports .sports_extend .bisai img {
  width: 100%;
  height: 100%;
}

.head_title .sports .sports_extend .bisai a {
  background: #171c25;
  width: 100px;
  height: 97px;
}

.head_title .sports .sports_extend .bisai a:hover {
  background: #21262e;
}

.head_title .sports .sports_extend li > a:hover {
  background: #282e3a;
}

.head_title .sports .sports_extend .even {
  height: 49px;
  background: #171c25;
  border: 1px solid rgba(255, 255, 255, .15);
  text-align: center;
}

.head_title .sports .sports_extend .even a {
  display: inline-block;
  margin: 0 20px;
}

.head_title .sports .sports_extend .even .iconfont {
  color: #00aeff;
  text-align: center;
  margin: 3px;
}

.head_title .sports .sports_extend .fang_a {
  border: 1px solid transparent;
  position: absolute;
  left: 405px;
  top: 0px;
  width: 10px;
  height: 10px;
  border-top: solid 1px rgba(255, 255, 255, .15);
  border-right: solid 1px rgba(255, 255, 255, .15);
  background: #171c25;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* 头部-通行证 开始*/
.head_title .permit {
  position: absolute;
  top: 40px;
  right: 40px;
  background: #171c25;
  border: solid 1px rgba(255, 255, 255, .08);
  display: none;
  z-index: 5;
}

.head_title .permit .enter {
  padding: 20px;
}

.head_title .permit .enter a {
  display: block;
  width: 278px;
  height: 38px;
  background: #0e86ca;
  color: #fff;
  border: 1px solid #00aeff;
}

.head_title .permit .enter button {
  display: inline-block;
  position: relative;
  background-color: #0e86ca;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 9px 123px;
  margin-top: -1px;
  cursor: pointer;
  outline: 0;
  overflow: visible;
  max-width: 100%;
}

.head_title .permit .enter button:hover {
  background: #00aeff;
}

.head_title .permit .user a {
  display: block;
  padding: 0 20px;
  height: 43px;
  border-top: 1px solid rgba(255, 255, 255, .08);
}

.head_title .permit .user span {
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}

.head_title .permit .user .iconfont {
  font-size: 20px;
  color: #00aeff;
}

.head_title .permit a:hover {
  background: #2f262f;
}

.head_title .permit .fang_b {
  border: 1px solid transparent;
  position: absolute;
  left: 290px;
  top: 0px;
  width: 10px;
  height: 10px;
  border-top: solid 1px rgba(255, 255, 255, .15);
  border-right: solid 1px rgba(255, 255, 255, .15);
  background: #171c25;
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* 头部-通行证 结束 */

/* 这是头部导航栏结束 */

/* 这是顶部大logo开始 */
.logo_nav {
  position: relative;
  height: 257px;
}

.logo_nav .big_logo {
  position: absolute;
  top: 0px;
  left: 0px;
}

.logo_nav .big_logo h1 {
  width: 350px;
  height: 184px;
  background: url(../imges/home-v2016.png) no-repeat;
}

.logo_nav .big_logo h1 a {
  width: 100%;
  height: 100%;
  display: block;
}

.logo_nav .logo_search {
  width: 143px;
  height: 26px;
  position: absolute;
  top: 110px;
  right: 217px;
}

.logo_nav .logo_search input {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(139, 182, 173);
  background: rgba(58, 58, 58, 0.3);
  padding: 7px 171px 7px 10px;
  color: #8bb6ad;
}

.logo_nav .logo_search input::placeholder {
  color: #fff;
}

.logo_nav .logo_search a {
  position: absolute;
  top: 10px;
  right: -22px;
  width: 25px;
  height: 25px;
  background: url(../imges/search.png) no-repeat;
}

.logo_nav .logo_search img {
  position: absolute;
  bottom: -29px;
  left: 166px;
}

.logo_nav .logo_title {
  position: absolute;
  top: 205px;
  left: 0;
  width: 1024px;
  height: 52px;
  z-index: 999;
}

.logo_title > ul {
  padding-left: 50px;
  width: 973px;
  height: 52px;
  background: url(../imges/nav_bg-1-2019.jpg-v1.jpg) no-repeat;
}

.logo_nav .logo_title ul .logo_title_left {
  position: absolute;
  left: -40px;
  top: -38px;
  width: 100px;
  height: 150px;
  background: url(../imges/nav-icon.png) no-repeat -10px -15px;
}

.logo_nav .logo_title ul .logo_title_left a {
  display: block;
  width: 78px;
  height: 100px;
  background: url(../imges/nav-icon.png) no-repeat -166px -17px;
}

.logo_nav .logo_title ul .logo_title_right {
  position: absolute;
  right: -30px;
  top: 0px;
  width: 70px;
  height: 56px;
  background: url(../imges/nav-icon.png) no-repeat -279px -7px;
}

.logo_nav .logo_title > ul > li {
  width: 117px;
  height: 52px;
  float: left;
}

.logo_nav .logo_title > ul ul {
  position: absolute;
  top: 45px;
  display: none;
}

.logo_nav .logo_title > ul ul li {
  width: 117px;
  height: 34px;
  line-height: 32px;
  background: rgba(77, 9, 8, .95);
}

.logo_nav .logo_title > ul ul li a {
  display: block;
  height: 100%;
  color: #cd998e;
  font-size: 14px;
  padding-left: 20px;
}

.logo_nav .logo_title > ul > li > a {
  width: 100%;
  height: 100%;
  display: block;
  /* background: url(../imges/nav_bg-1-2019.jpg-v1.jpg) no-repeat -50px -52px; */
}

.logo_title .logo_title_1:hover {
  background: url(../imges/nav_bg-1-2019.jpg-v1.jpg) no-repeat -50px -52px;
}

.logo_title .logo_title_2:hover {
  background: url(../imges/nav_bg-1-2019.jpg-v1.jpg) no-repeat -168px -52px;
}

.logo_title .logo_title_3:hover {
  background: url(../imges/nav_bg-1-2019.jpg-v1.jpg) no-repeat -285px -52px;
}

.logo_title .logo_title_4:hover {
  background: url(../imges/nav_bg-1-2019.jpg-v1.jpg) no-repeat -402px -52px;
}

.logo_title .logo_title_5:hover {
  background: url(../imges/nav_bg-1-2019.jpg-v1.jpg) no-repeat -519px -52px;
}

.logo_title .logo_title_6:hover {
  background: url(../imges/nav_bg-1-2019.jpg-v1.jpg) no-repeat -634px -52px;
}

.logo_title .logo_title_7:hover {
  background: url(../imges/nav_bg-1-2019.jpg-v1.jpg) no-repeat -753px -52px;
}

.logo_title .logo_title_8:hover {
  background: url(../imges/nav_bg-1-2019.jpg-v1.jpg) no-repeat -870px -52px;
}

.logo_nav .logo_title > ul ul li a:hover {
  background: #81120c;
  color: #fff;
}
/* 这是顶部大logo结束 */
/* 这是中间内容开始  */
/* 这是内容轮播图开始-1 */
.con_lunbo {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

.con_lunbo .con_lunbo_left {
  background: url(../imges/homeconmain-bg.png);
  width: 703px;
  padding-top: 20px;
  position: relative;
  z-index: 901;
}

.con_lunbo .con_lunbo_left1 {
  width: 638px;
  height: 296px;
  margin: 0 auto;
  background: #000;
  /* padding: 1px; */
  box-shadow: 1px 1px 1px #ffe4bb inset, -1px -1px 1px #ffe4bb inset;
  /* border: 1px solid #b7894c; */
  position: relative;
  overflow: hidden;
}

.con_lunbo .con_lunbo_left_big {
  width: 1914px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.con_lunbo_left_big li {
  float: left;
  width: 638px;
}

.con_lunbo .con_lunbo_left_txt {
  width: 640px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  bottom: 1px;
  left: 0px;
  overflow: hidden;
  border-top: 1px solid #8a673b;
  background: rgba(0, 0, 0, .5);
  z-index: 2;
}

.con_lunbo .con_lunbo_left_txt li a {
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  line-height: 42px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0 2px #000;
}

.con_lunbo .con_lunbo_left_sim {
  position: absolute;
  bottom: 6px;
  right: 10px;
  z-index: 4;
}

.con_lunbo .con_lunbo_left_sim li {
  float: left;
  margin: 0 2px;
  border: 1px solid #000;
}

/* .con_lunbo .con_lunbo_left_sim li:hover { */
/* border: 1px solid #ffde00; */
/* } */
/* 这是内容轮播图结束-1 */
/* 这是内容左边2开始 */
.con_lunbo .con_lunbo_left2 {
  width: 663px;
  height: 272px;
  padding: 35px 0 0 0;
  margin: 0 auto;
  background: url(../imges/news-eyes-bg.jpg) no-repeat;
}

.con_lunbo .con_lunbo_left2 li {
  float: left;
  width: 288px;
  height: 191px;
  padding: 10px;
  background: url(../imges/news-eyes-module.png) no-repeat;
  margin: 5px 11px;
}

.con_lunbo .con_lunbo_left2 li a {
  position: relative;
  display: block;
  width: 280px;
  height: 140px;
  margin: 1px 0 0 1px;
}

.con_lunbo .con_lunbo_left2 li img:hover {
  border: 2px solid green;
}

.con_lunbo .con_lunbo_left2 li a img {
  width: 280px;
  height: 140px;
  padding: 2px;
}

.con_lunbo .con_lunbo_left2 li p {
  color: #2e1b1e;
  width: 288px;
  height: 44px;
  font-size: 16px;
  margin: 0 auto;
  line-height: 44px;
  margin-top: 8px;
  overflow: hidden;
  font-weight: 700;
  text-align: center;
}

.con_lunbo .con_lunbo_leftbot {
  width: 703px;
  height: 42px;
  position: absolute;
  bottom: -18px;
  left: 0;
  background: url(../imges/homeconmain-bg-bot.png) no-repeat;
}


/* 这是内容左边2结束 */
/* 这是内容右边开始 */
.con_lunbo_right {
  width: 340px;
  min-height: 600px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../imges/homeconbar-bg.png) repeat-y 100% 0;
}

.con_lunbo_right .right_logo {
  width: 328px;
  height: 600px;
  /* padding: 594px 0 10px 0; */
  position: relative;
  background: url(../imges/home_r_top_bg.jpg) no-repeat 100% 0;
  z-index: 900;
}

.con_lunbo_right .right_logo a {
  width: 290px;
  height: 223px;
  position: absolute;
  top: 4px;
  left: 24px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 1;
  background: url(../imges/landing-logo.png) no-repeat 50% 0;
  background-size: 100%;
}

.con_lunbo_right .right_logo ul {
  padding: 0 0 0 36px;
  height: 85px;
}

.con_lunbo_right .right_logo ul li {
  float: left;
  position: relative;
  top: 205px;
  right: 8px;
  width: 80px;
  height: 90px;
}

.con_lunbo_right .right_logo ul li a {
  width: 80px;
  height: 90px;
  display: block;
  background: url(../imges/device-icon-2019.png) no-repeat 1px -180px;
}

.con_lunbo_right .right_logo ul :nth-child(2) a {
  background: url(../imges/device-icon-2019.png) no-repeat -78px -90px;
}

.con_lunbo_right .right_logo ul :nth-child(2) a:hover {
  background: url(../imges/device-icon-2019.png) no-repeat -78px 0px;
}

.con_lunbo_right .right_logo ul :nth-child(3) a {
  background: url(../imges/device-icon-2019.png) no-repeat -160px -90px;
}

.con_lunbo_right .right_logo ul :nth-child(3) a:hover {
  background: url(../imges/device-icon-2019.png) no-repeat -160px 0px;
}

.con_lunbo_right .right_logo div {
  position: absolute;
  top: 130px;
  left: 23px;
}

.con_lunbo_right .right_logo div a {
  width: 220px;
  height: 63px;
  display: block;
  position: absolute;
  top: 206px;
  left: 43px;
  z-index: 0;
  overflow: hidden;
  background: url(../imges/download-btn2-2019.png) no-repeat -29px -365px;
}

.con_lunbo .con_lunbo_rightbot {
  width: 340px;
  height: 35px;
  position: absolute;
  right: 0;
  bottom: -35px;
  background: url(../imges/home_homeconbar-bg-bot.png) no-repeat 100% 0;
}
/* 这是内容右边结束 */

/* 这是中间内容结束 */
/* 这是侧边悬挂开始 */
.sidebar {
  position: fixed;
  bottom: 110px;
  right: 20px;
  z-index: 10000;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  display: block;
  width: 82px;
  height: 82px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(92, 56, 28, 0.6);
  /* background-position: 50% 50%; */
  /* background-repeat: no-repeat; */
}

.sidebar .hsoa_link a {
  bottom: 290px;
  text-align: center;
  line-height: 82px;
  font-size: 15px;
  color: #ffb100;
  font-weight: 700;
}

.sidebar .hsoa_link a:hover {
  color: #ecd9ae;
}

.sidebar .gotop {
  position: absolute;
}
/* 这是侧边悬挂结束 */

/* 这是底部模块开始 */
.foots {
  margin-top: 125px;
  line-height: 26px;
  /* height: 500px; */
  background: url(../imges/footerrepeat.jpg) repeat-x;
}

.foots .foots_bg {
  height: 471px;
  background: url(../imges/footer.jpg) no-repeat 50% 0;
  position: relative;
}

.foots .foots_bg .foots_but {
  width: 349px;
  height: 87px;
  position: absolute;
  z-index: 101;
  left: 50%;
  top: -30px;
  margin-left: -175px;
  background: url(../imges/reg-bg.png) no-repeat;
}

.foots .foots_bg .foots_but a {
  background: url(../imges/reg-btn.png) no-repeat;
  bottom: -5px;
  display: block;
  height: 78px;
  left: 172px;
  margin-left: -123px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  width: 249px;
}

.foots .foots_bg .foots_but a:hover {
  background: url(../imges/reg-btn.png) no-repeat 0px -84px;
}

.foots  .foots-media {
  padding-top: 79px;
  font-size: 14px;
}

.foots  .foots-media .left li {
  float: left;
  vertical-align: middle;
}

.foots  .foots-media .left li a {
  display: block;
  color: #fff;
  margin-right: 37px;
}

.foots  .foots-media .left li span {
  background: url(../imges/f-business.png-v1.png) no-repeat -6px -7px;
  display: block;
  width: 19px;
  height: 19px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.foots  .foots-media .left :nth-child(2) span {
  background: url(../imges/f-business.png-v1.png) no-repeat -36px -7px;
}

.foots  .foots-media .left :nth-child(3) span {
  background: url(../imges/f-business.png-v1.png) no-repeat -8px -32px;
}

.foots  .foots-media .right {
  text-align: right;
  color: #fff;
  /* vertical-align: top; */
}

.foots  .foots-media .right strong {
  font-weight: 400;
}

.foots  .foots-media .right p :nth-child(2) {
  background: url(../imges/business-logo.png) no-repeat -352px 0;
  width: 95px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.foots  .foots-media .right p :nth-child(3) {
  display: inline-block;
  background: #241101;
  border: 1px solid #2d1702;
  color: #ac771f;
  width: 14px;
  height: 14px;
  margin: 0 13px;
  position: relative;
  top: 5px;
}

.foots  .foots-media .right p a :nth-child(1) {
  width: 10px;
  height: 2px;
  margin: -1px 0 0 -5px;
  background: #ac771f;
}

.foots  .foots-media .right p a :nth-child(2) {
  width: 2px;
  height: 10px;
  margin: -5px 0 0 -1px;
  background: #ac771f;
}

.foots  .foots-media .right p a i {
  position: absolute;
  display: block;
  background: #fff;
  top: 50%;
  left: 50%;
}

.foots  .foots-media .right div {
  display: inline-block;
  padding-left: 10px;
  /* padding-top: 5px; */
}

.foots  .foots-media .right p {
  display: inline-block;
}

.foots  .foots-media .right div span {
  display: inline-block;
  background: #241101;
  border: 1px solid #2d1702;
  color: #ac771f;
  width: 14px;
  height: 14px;
  position: relative;
  top: 7px;
  margin-left: 5px;
  cursor: pointer;
}

.foots  .foots-media .right div span i {
  background: url(../imges/more-icon.png) no-repeat 4px 2px;
  width: 14px;
  height: 14px;
  display: inline-block;
}

.foots  .foots-media .right div ol {
  background: #1f1009;
  border: 1px solid #261c12;
  width: 756px;
  padding: 8px 0 10px 20px;
  position: absolute;
  top: 105px;
  right: 247px;
  display: none;
}

.foots  .foots-media .right div ol li a {
  color: #b5a89f;
}

.foots  .foots-media .right div ol li a:hover {
  color: #fff;
}

.foots  .foots-media .right div ol li {
  float: left;
  width: 108px;
  line-height: 22px;
  text-align: left;
}

.foots  .foots-media .right div ol .hezuo {
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.foots  .foots-media .right .hezuo a {
  color: #ea8631;
  text-decoration: underline;
}

.foots .foots-info {
  padding-top: 40px;
}

.foots .foots-info .info-left :nth-child(1) {
  display: inline-block;
  width: 140px;
  height: 80px;
  background: url(../imges/logo_blizzard.png) no-repeat;
  overflow: hidden;
}

.foots .foots-info .info-left :nth-child(2) {
  background: url(../imges/logo_ne.png) no-repeat;
  width: 125px;
  height: 38px;
  position: relative;
  top: 39px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  overflow: hidden;
}

.foots .foots-info .info-right {
  padding-right: 10px;
}

.foots .foots-info .info-right .banquan-1 {
  color: #ccc;
}

.foots .foots-info .info-right .banquan-1 a {
  display: inline-block;
  color: #ccc;
  padding: 0 10px;
  font-size: 14px;
}

.foots .foots-info .info-right a:hover {
  color: #fff;
}

.foots .foots-info .info-right p {
  color: #552c09;
  line-height: 20px;
  font-size: 12px;
}

.foots .foots-info .info-right a {
  color: #552c09;
  font-size: 12px;
  line-height: 20px;
}

.foots .foots-info .info-right .integrity {
  padding: 8px 0;
}

.foots .foots-info .info-right .integrity a {
  margin-left: 5px;
}

.foots .tips {
  color: #432914;
  text-align: center;
  font-size: 12px;
}
/* 这是底部模块结束 */
/* 这是内容的视频模块开始 */
.vid {
  /* height: 500px; */
  padding-top: 15px;
  /* background: url(../imges/con-bg.png) repeat-y; */
}

.vid .vid-title {
  width: 100%;
  height: 420px;
  background: url(../imges/line-sprite.png) no-repeat center top;
}

.vid .vid-title ul {
  height: 381px;
  position: relative;
  background: url(../imges/top_bg.png) center bottom no-repeat;
}

.vid .vid-title ul li {
  float: left;
  height: 252px;
  width: 447px;
  border: 1px solid #b0844c;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
  cursor: pointer;
  margin-top: 80px;
  position: relative;
}

.vid .vid-title ul .media-a {
  margin-left: 50px;
  background: url(../imges/e0ce5269bad4d4bafe3b4d1b21056b5b.png) no-repeat;
}

.vid .vid-title ul li span {
  width: 128px;
  height: 112px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -64px;
  margin-top: -56px;
  display: inline-block;
  background: url(../imges/btn_video.png) no-repeat 2px 0;
}

.vid .vid-title ul li span:hover {
  background: url(../imges/btn_video.png) no-repeat -120px 0px;
}

.vid .vid-title ul .media-b {
  margin-left: 20px;
  background: url(../imges/2e91030270b2cc847a4b33f7ba132bf7.png) no-repeat;
}

.vid .vid-title ul .lr {
  width: 314px;
  height: 194px;
  position: absolute;
  top: 226px;
  left: -80px;
  z-index: 10;
  background: url(../imges/lr.png) no-repeat;
}

.vid .vid-title ul .gbl {
  width: 200px;
  height: 218px;
  position: absolute;
  top: 210px;
  right: -45px;
  z-index: 10;
  background: url(../imges/gbl.png) no-repeat;
}

/* 这是内容的视频模块结束 */
/* 这是播放视频开始 */
.vidbox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2206px;
  z-index: 999999;
  background: rgba(0, 0, 0, .8);
  display: none;
}

.vidbox .shipin {
  width: 808px;
  height: 458px;
  left: 355px;
  top: 50px;
  /* bottom: 380px; */
  display: block;
  position: fixed;
  z-index: 999999;
  /* background: red; */
  background: url(../imges/media_bottom_r.jpg);
  text-align: center;
  /* padding-top: 10px; */
}

.vidbox .shipin video {
  width: 100%;
  height: 458px;
}

.vidbox .cor {
  position: absolute;
  background: url(../imges/lightbox.png) no-repeat;
  width: 38px;
  height: 38px;
  float: left;
  z-index: 800;
}

.vidbox .cor-top-left {
  background-position: -176px 0;
  top: -18px;
  left: -16px;
}

.vidbox .cor-top-right {
  background-position: -214px 0;
  top: -18px;
  right: -18px;
}

.vidbox .cor-bot-left {
  background-position: -174px -39px;
  bottom: -18px;
  left: -18px;
}

.vidbox .cor-bot-right {
  background-position: -214px -39px;
  bottom: -18px;
  right: -18px;
}

.vidbox .bd {
  position: absolute;
  float: left;
}

.vidbox .bd-top {
  height: 18px;
  top: -18px;
  left: 0;
  width: 808px;
  background: url(http://hearthstone.nos.netease.com/3/home/v1/lightbox-frame.png) 50% 0 repeat-x;
  padding-right: 12px;
}

.vidbox .bd-right {
  width: 18px;
  top: 0;
  right: -18px;
  height: 458px;
  background: url(http://hearthstone.nos.netease.com/3/home/v1/lightbox.png) -272px 0 repeat-y;
  padding-bottom: 9px;
}

.vidbox .bd-bot {
  height: 18px;
  bottom: -18px;
  left: 0;
  width: 808px;
  background: url(http://hearthstone.nos.netease.com/3/home/v1/lightbox-frame.png) 50% -19px repeat-x;
  padding-right: 12px;
}

.vidbox .bd-left {
  width: 18px;
  top: 0;
  left: -18px;
  height: 458px;
  background: url(http://hearthstone.nos.netease.com/3/home/v1/lightbox.png) -254px 0 repeat-y;
  padding-bottom: 9px;
}

.vidbox .shipin a {
  display: block;
  position: absolute;
  float: right;
  right: 9px;
  top: 6px;
  width: 57px;
  height: 57px;
  background: url(../imges/lightbox-v2.png) -5px -109px repeat-x;
  border: 0;
  cursor: pointer;
}

.vidbox .shipin a:hover {
  background: url(../imges/lightbox-v2.png) -70px -109px repeat-x;
  border: 0;
}
/* 这是播放视频结束 */

.big-bg {
  /* height: 800px; */
  background: url(../imges/con-bg.png) repeat-y;
}

.big-botbg {
  width: 1000px;
  height: 35px;
  left: 50%;
  bottom: -5px;
  margin-left: -500px;
  position: relative;
  background: url(../imges/con-bg-bot.png) no-repeat 50% 0;
}

/* 这是指南部分开始 */
.kaibao {
  /* margin-bottom: 20px; */
  height: 200px;
}

.kaibao h3 {
  height: 35px;
  width: 860px;
  font-size: 18px;
  font-weight: 700;
  padding-left: 50px;
  margin: 20px auto;
  line-height: 35px;
  color: #251c0f;
  background: #e1c79d url(../imges/3_v2015_gameguide_sprite.png) no-repeat;
  background-position: -20px -260px;
  position: relative;
}

.kaibao .award-wrap {
  width: 913px;
  height: 80px;
  overflow: hidden;
  background: #e3c9a0;
  border: 1px solid #f0dbb7;
  position: relative;
  margin: 0 auto 20px;
}

.kaibao .award-wrap ul {
  width: 30000px;
  position: absolute;
  left: 0;
}

.kaibao .award-wrap li {
  float: left;
  margin: 0 30px;
  font-size: 18px;
  color: #5b4b38;
  line-height: 80px;
}

.kaibao .award-wrap li span {
  font-weight: 700;
  display: inline-block;
  margin: 0 5px;
}

.kaibao .award-wrap li .common {
  color: #5b4b38;
}

.kaibao .award-wrap li .rare {
  color: #3677e0;
}

.kaibao .award-wrap li .legendary {
  color: #cf992b;
}

.kaibao .award-wrap li .epic {
  color: #9c2fb7;
}

.kaibao p {
  padding-left: 60px;
  font-size: 15px;
  color: #5b4b38;
}
/* 这是指南部分结束 */

/* 这是大事件开始 */
.shijian {
  background: url(../imges/line-sprite.png) no-repeat center top;
  padding-top: 45px;
}

.shijian h3 {
  height: 35px;
  width: 860px;
  font-size: 18px;
  font-weight: 700;
  padding-left: 50px;
  margin: 20px auto;
  line-height: 35px;
  color: #251c0f;
  background: #e1c79d url(../imges/3_v2015_gameguide_sprite.png) no-repeat;
  background-position: -20px -258px;
  position: relative;
}

.shijian .timelineBox {
  width: 756px;
  height: 282px;
  margin: 10px auto 20px;
  /* padding: 1px; */
  background: #e7c9a0;
  border: 1px solid #bb8e54;
  position: relative;
  overflow: hidden;
}

.shijian .timelineBox ul {
  width: 120px;
  height: 270px;
  left: 0px;
  /* top: 100px; */
  background: red;
}

.shijian .timeline {
  width: 913px;
  height: 88px;
  background: #e3c9a0;
  border: 1px solid #f0dbb7;
  position: relative;
  margin: 0 auto 20px;
}

.shijian .timeline .dateList {
  width: 805px;
  height: 88px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-image: url(../imges/3_v2015_gameguide_timeline-line.png);
  background-position: 50% 40%;
  background-repeat: no-repeat;
}

.shijian .timeline .dateList ul {
  width: auto;
  height: 88px;
  top: 0;
  left: 0;
  position: absolute;
}

.shijian .timeline .dateList ul li {
  width: 115px;
  height: 88px;
  overflow: hidden;
  position: relative;
  float: left;
  position: relative;
}

.shijian .timeline .dateList ul li .circleList {
  height: 60px;
  position: relative;
}

/* .shijian .timeline .dateList ul li .circle_a {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  top: 20px;
  left: 45px;
  background-color: #db6800;
} */
/* .shijian .timeline .dateList ul li:hover {
  background: 
} */
/* .shijian .timeline .dateList ul li .circle_b {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  top: 15px;
  left: 40px;
  background-color: #c1976e;
} */

.shijian .timeline .dateList ul li span {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 16px;
  color: #5b4b38;
}

.shijian .timeline .dateList ul li .circleList .circle_a {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 31px;
  left: 55px;
  display: block;
  background: #9a7348;
  border-radius: 50%;
  z-index: 1;
}

.shijian .timeline .dateList ul li .circleList .circle_b {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 26px;
  left: 50px;
  display: block;
  background: #c1976e;
  border-radius: 50%;
  z-index: 0;
}



@keyframes dh {
  from {
    /* 动画开始之前的状态 */
    width: 20px;
  }

  to {
    /* 动画结局的状态 */
    width: 40px;
  }
}
/* 这是大事件结束 */