body {
  position: relative;
  background-color: #e5e8f0;
}
body .nav {
  width: 100%;
  padding-top: 30px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
}
body .nav .nav_leftlogo {
  width: 28%;
  float: left;
}
body .nav .nav_leftlogo a {
  width: 70%;
  display: block;
}
body .nav .nav_leftlogo a img {
  width: 100%;
}
body .nav .nav_input {
  width: 44%;
  float: left;
  position: relative;
}
body .nav .nav_input input {
  width: 100%;
  border: 1px solid #05f8e9;
  border-radius: 50px;
  padding: 16px 70px;
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);
}
body .nav .nav_input .nav_inputss {
  width: 10%;
  position: absolute;
  top: 2%;
  left: 1%;
}
body .nav .nav_input .nav_inputss a {
  width: 100%;
}
body .nav .nav_input .nav_inputss a img {
  width: 100%;
}
body .nav .nav_righttubiao {
  width: 28%;
  float: left;
  padding-left: 69px;
  box-sizing: border-box;
  position: relative;
}
body .nav .nav_righttubiao a {
  width: 16%;
  display: block;
  float: left;
  box-sizing: border-box;
}
body .nav .nav_righttubiao a img {
  width: 100%;
}
body .nav .nav_righttubiao a {
  width: 16%;
  display: block;
  float: left;
}
body .nav .nav_righttubiao a img {
  width: 100%;
}
body .nav .nav_righttubiao .shopshu {
  width: 16%;
  height: 45px;
  background-color: #05f8e9;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
}
body .nav .nav_righttubiao .shopshu p {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
}
body .nav .nav_righttubiao .gouwuche {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
}
body .nav .nav_righttubiao .gouwuche .gouwuche_nav {
  width: 100%;
  height: 10%;
  background-image: repeating-linear-gradient(to right, #3f6aa6, #0289a4);
  text-align: center;
  line-height: 40px;
}
body .nav .nav_righttubiao .gouwuche .gouwuche_nav p {
  color: #ff8300;
  font-size: 18px;
}
body .nav .nav_righttubiao .gouwuche .gouwuche_content {
  width: 100%;
  height: 90%;
  background-color: #e4ecec;
}
body .nav .nav_table {
  width: 100%;
  height: 60px;
  float: left;
}
body .nav .nav_table .nav_table1 {
  width: 100%;
  height: 100%;
  line-height: 100%;
}
body .nav .nav_table .nav_table1 ul {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
body .nav .nav_table .nav_table1 ul .li1 {
  background-color: #4268a6;
}
body .nav .nav_table .nav_table1 ul li {
  width: 30%;
  height: 100%;
  font-size: 22px;
  float: left;
  padding-top: 20px;
  text-align: center;
  box-sizing: border-box;
}
body .nav .nav_table .nav_table1 ul li .main-nav-item {
  color: #05f8e9;
}
body .nav .nav_table .nav_table1 ul li .main-submenu {
  width: 900px;
  height: 525px;
  z-index: 1000;
  margin: 20px auto;
  position: absolute;
  left: 0;
  background-color: rgba(229, 232, 240, 0.9);
  display: none;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items {
  height: 100%;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level {
  width: 33%;
  height: 525px;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .category-subtitle {
  width: 100%;
  height: 54px;
  text-align: left;
  padding: 10px 25px;
  background-color: #05f8e9;
  box-sizing: border-box;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .category-subtitle span {
  text-align: left;
  font-size: 18px;
  color: #fff;
  display: block;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 {
  width: 100%;
  background-color: #e5e8f0;
  padding-top: 10px;
  box-sizing: border-box;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li {
  width: 100%;
  padding: 10px 25px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  display: block;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li a {
  width: 100%;
  padding: 6px 35px 5px 21px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li .navigation-level {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -54px;
  left: 100%;
  text-align: left;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li .navigation-level .category-subtitle {
  width: 100%;
  height: 54px;
  color: #fff;
  background: #4268a6;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  overflow: hidden;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li .navigation-level .level-2 {
  width: 100%;
  height: 525px;
  line-height: 20px;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li .navigation-level .level-2 .nav-ss-container {
  width: 100%;
  height: 100%;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li .navigation-level .level-2 .nav-ss-container .wrap {
  width: 100%;
  z-index: 1;
  float: left;
  position: relative;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li .navigation-level .level-2 .nav-ss-container .wrap li a {
  width: 100%;
  color: #000;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li .navigation-level .level-2 .nav-ss-container .wrap li .navigation-level {
  position: absolute;
  left: 100%;
  height: 100%;
  top: -54px;
  overflow: hidden;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li .navigation-level .level-2 .nav-ss-container .wrap li .navigation-level .category-subtitle {
  color: #fff;
  font-size: 14px;
  height: 54px;
  overflow: hidden;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li .navigation-level .level-2 .nav-ss-container .wrap li .navigation-level .level-3 {
  background: #e5e8f0;
  overflow: auto;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li .navigation-level .level-2 .nav-ss-container .wrap li .navigation-level .level-3 .nav-ss-container {
  width: 100%;
  z-index: 1;
  float: left;
  overflow: hidden;
  position: relative;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 li .navigation-level .level-2 .nav-ss-container .wrap li .navigation-level .level-3 .nav-ss-container .ss-content {
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}
body .nav .nav_table .nav_table1 ul li .main-submenu .main-submenu-items .navigation-level .level-1 .li2color {
  background-color: red;
}
body .content {
  width: 100%;
  margin-top: 151px;
}
body .content .lunbo {
  width: 100%;
  position: relative;
  height: 470px;
}
body .content .lunbo .lunbo1 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
body .content .lunbo .lunbo1 .left_anniu {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 0;
  border: none;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
  outline-style: none;
  color: #fff;
  z-index: 10;
}
body .content .lunbo .lunbo1 a {
  width: 100%;
  display: block;
}
body .content .lunbo .lunbo1 a img {
  width: 100%;
}
body .content .lunbo .lunbo1 .right_anniu {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 50%;
  right: 0;
  border: none;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
  outline-style: none;
  color: #fff;
  z-index: 10;
}
body .content .lunbo .lunbo1 .lunbo_text {
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(0);
  transition: all 0.9s ease;
  padding-left: 30px;
  box-sizing: border-box;
  line-height: 80px;
}
body .content .lunbo .lunbo1 .lunbo_text .lunbo_tubiao {
  background: #ff8300;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 2px 10px;
  font-size: 16px;
  text-transform: uppercase;
}
body .content .lunbo .lunbo1 .lunbo_text h1 {
  text-align: center;
}
body .content .lunbo .lunbo1 .lunbo_text .custom-slide-cta .btn1 {
  width: 150px;
  line-height: initial;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 25px;
  background: #156309;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.6);
  outline-style: none;
  color: #fff;
}
body .content .lunbo .lunbo1 .lunbo_text .legal {
  color: red;
}
body .content .lunbo .lunbobottom_text {
  width: 70%;
  margin: 10px auto;
  height: 8%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 20%;
}
body .content .lunbo .lunbobottom_text ul {
  width: 100%;
  height: 50px;
}
body .content .lunbo .lunbobottom_text ul li {
  width: 20%;
  text-align: center;
  float: left;
  line-height: 50px;
  margin-right: 10px;
  border-top: 3px solid #000;
}
body .content .lunbo .lunbobottom_text ul li:nth-child(4) {
  margin-right: auto;
}
body .content .lunbo .lunbobottom_text ul .active {
  border-top: 3px solid #ff8300;
}
body .content .content_2 {
  width: 100%;
  float: left;
  margin-top: 20px;
}
body .content .content_2 .content_2_top {
  width: 100%;
  height: 390px;
  padding: 25px 20px;
  box-sizing: border-box;
  float: left;
}
body .content .content_2 .content_2_top .content_2_top_img {
  width: 48%;
  height: 341px;
  float: left;
  margin-right: 2%;
  position: relative;
}
body .content .content_2 .content_2_top .content_2_top_img a {
  width: 100%;
}
body .content .content_2 .content_2_top .content_2_top_img a img {
  width: 100%;
}
body .content .content_2 .content_2_top .content_2_top_img .content_2_top1 {
  width: 49%;
  height: 340px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: #fff;
  padding: 20px 20px;
  box-sizing: border-box;
  line-height: 50px;
  display: none;
}
body .content .content_2 .content_2_top .content_2_top_img .content_2_top1 .btn_2 {
  width: 150px;
  line-height: initial;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 25px;
  background: #04f0d1;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
  outline-style: none;
  color: #fff;
}
body .content .content_2 .content_2_top .content_2_top_img:hover .content_2_top1 {
  display: block;
}
body .content .content_2 .content_2_bottom {
  width: 100%;
  float: left;
}
body .content .content_2 .content_2_bottom .content_2_bottom1 {
  width: 32%;
  position: relative;
  float: left;
}
body .content .content_2 .content_2_bottom .content_2_bottom1 a {
  width: 100%;
}
body .content .content_2 .content_2_bottom .content_2_bottom1 a img {
  width: 100%;
}
body .content .content_2 .content_2_bottom .content_2_bottom1 span {
  width: 100%;
  padding: 30px 30px;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
}
body .content .content_2 .content_2_bottom .content_2_bottom1 .c2b1 {
  width: 100%;
  height: 214px;
  background-color: rgba(4, 240, 209, 0.6);
  position: absolute;
  top: 0;
  display: none;
  text-align: center;
}
body .content .content_2 .content_2_bottom .content_2_bottom1 .c2b1 .btn_3 {
  width: 150px;
  line-height: initial;
  height: 40px;
  display: block;
  font-size: 20px;
  border-radius: 25px;
  background: #04f0d1;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
  outline-style: none;
  color: #fff;
  margin: 20px auto;
}
body .content .content_2 .content_2_bottom .content_2_bottom1 .c2b1 .btn_33 {
  width: 150px;
  line-height: initial;
  height: 40px;
  display: block;
  font-size: 20px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
  outline-style: none;
  color: #fff;
  margin: 50px auto;
}
body .content .content_2 .content_2_bottom .content_2_bottom2 {
  width: 32%;
  position: relative;
  float: left;
  margin-left: 15px;
}
body .content .content_2 .content_2_bottom .content_2_bottom2 a {
  width: 100%;
}
body .content .content_2 .content_2_bottom .content_2_bottom2 a img {
  width: 100%;
}
body .content .content_2 .content_2_bottom .content_2_bottom2 span {
  width: 100%;
  padding: 30px 30px;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
}
body .content .content_2 .content_2_bottom .content_2_bottom2 .c2b1 {
  width: 100%;
  height: 214px;
  background-color: rgba(4, 240, 209, 0.6);
  position: absolute;
  top: 0;
  display: none;
  text-align: center;
}
body .content .content_2 .content_2_bottom .content_2_bottom2 .c2b1 .btn_3 {
  width: 150px;
  line-height: initial;
  height: 40px;
  display: block;
  font-size: 20px;
  border-radius: 25px;
  background: #04f0d1;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
  outline-style: none;
  color: #fff;
  margin: 20px auto;
}
body .content .content_2 .content_2_bottom .content_2_bottom2 .c2b1 .btn_33 {
  width: 150px;
  line-height: initial;
  height: 40px;
  display: block;
  font-size: 20px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
  outline-style: none;
  color: #fff;
  margin: 50px auto;
}
body .content .content_2 .content_2_bottom .content_2_bottom3 {
  width: 32%;
  position: relative;
  float: left;
  margin-left: 15px;
}
body .content .content_2 .content_2_bottom .content_2_bottom3 a {
  width: 100%;
}
body .content .content_2 .content_2_bottom .content_2_bottom3 a img {
  width: 100%;
}
body .content .content_2 .content_2_bottom .content_2_bottom3 span {
  width: 100%;
  padding: 30px 30px;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
}
body .content .content_2 .content_2_bottom .content_2_bottom3 .c2b1 {
  width: 100%;
  height: 214px;
  background-color: rgba(4, 240, 209, 0.6);
  position: absolute;
  top: 0;
  display: none;
  text-align: center;
}
body .content .content_2 .content_2_bottom .content_2_bottom3 .c2b1 .btn_3 {
  width: 150px;
  line-height: initial;
  height: 40px;
  display: block;
  font-size: 20px;
  border-radius: 25px;
  background: #04f0d1;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
  outline-style: none;
  color: #fff;
  margin: 20px auto;
}
body .content .content_2 .content_2_bottom .content_2_bottom3 .c2b1 .btn_33 {
  width: 150px;
  line-height: initial;
  height: 40px;
  display: block;
  font-size: 20px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
  outline-style: none;
  color: #fff;
  margin: 50px auto;
}
body .content .content_2 .content_2_bottom .content_2_bottom1:hover .c2b1 {
  display: block;
}
body .content .content_3 {
  width: 100%;
  padding-bottom: 110px;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
}
body .content .content_3 .content_3_1 {
  padding: 30px 40px;
  width: 100%;
  font-size: 24px;
}
body .content .content_3 .content_3_1 span {
  border-bottom: 2px solid #05f8e9;
}
body .content .content_3 .content_3_2 {
  width: 4800px;
}
body .content .content_3 .content_3_2 ul {
  overflow: hidden;
}
body .content .content_3 .content_3_2 ul li {
  width: 300px;
  margin-left: 15px;
  position: relative;
  float: left;
  box-sizing: border-box;
}
body .content .content_3 .content_3_2 ul li a {
  width: 100%;
  display: block;
}
body .content .content_3 .content_3_2 ul li a img {
  width: 100%;
}
body .content .content_3 .content_3_2 ul li .content_3_2_bottom {
  width: 100%;
  height: 150px;
  background-color: #fff;
}
body .content .content_3 .content_3_2 ul li .content_3_2_bottom .DLC {
  width: 15%;
  display: block;
  background-color: #4268a6;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  float: left;
}
body .content .content_3 .content_3_2 ul li .content_3_2_bottom .biaoti0 {
  font-size: 13px;
}
body .content .content_3 .content_3_2 ul li .content_3_2_bottom .biaoti1 {
  font-size: 20px;
  color: #ff8300;
}
body .content .content_3 .content_3_2 ul li .content_3_2_bottom .biaoti111 {
  font-size: 16px;
  color: #ccc;
  text-decoration: line-through;
}
body .content .content_3 .content_3_2 ul li .zhedangceng {
  width: 100%;
  height: 393px;
  background-color: rgba(4, 240, 209, 0.6);
  position: absolute;
  top: 0;
  overflow: hidden;
  text-align: center;
  display: none;
}
body .content .content_3 .content_3_2 ul li .zhedangceng .rili {
  font-size: 16px;
  color: #fff;
  font-family: '楷体';
  padding-top: 10px;
  box-sizing: border-box;
}
body .content .content_3 .content_3_2 ul li .zhedangceng .rili img {
  width: 18px;
  height: 18px;
}
body .content .content_3 .content_3_2 ul li .zhedangceng .btn_zdc {
  width: 150px;
  line-height: initial;
  height: 40px;
  display: block;
  font-size: 16px;
  border-radius: 25px;
  background: #04f018;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
  outline-style: none;
  color: #fff;
  margin: 50% auto;
}
body .content .content_3 .content_3_2 ul li .zhedangceng .btn_zdc1 {
  width: 150px;
  line-height: initial;
  height: 40px;
  display: block;
  font-size: 20px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
  outline-style: none;
  color: #fff;
  margin: -40% auto;
}
body .content .content_3 .content_3_2 ul li .zhedangceng .window {
  width: 25px;
  height: 25px;
  margin: 50% auto;
}
body .content .content_3 .content_3_2 ul li .zhedangceng .window img {
  width: 100%;
}
body .content .content_3 .content_3_2 ul li:hover .zhedangceng {
  display: block;
}
body .footer {
  width: 100%;
  height: 750px;
  float: left;
}
body .footer .footer_top1 {
  width: 100%;
  background-color: #fff;
}
body .footer .footer_top1 .footer_top {
  width: 100%;
  height: 110px;
  box-sizing: border-box;
}
body .footer .footer_top1 .footer_top a {
  display: block;
  width: 25%;
  float: left;
  padding-top: 15px;
  box-sizing: border-box;
  text-align: center;
  line-height: 20px;
}
body .footer .footer_top1 .footer_top a p {
  color: #000;
  font-size: 16px;
}
body .footer .footer_top2 {
  width: 100%;
  height: 500px;
  background-color: #000;
}
body .footer .footer_top2 .footer_f .footer_nav {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
}
body .footer .footer_top2 .footer_f .footer_nav p {
  color: #ccc;
  font-size: 14px;
}
body .footer .footer_top2 .footer_f .footer_dibu dl {
  width: 33%;
  float: left;
  color: #ccc;
  text-align: center;
  line-height: 25px;
}
body .footer .footer_top2 .footer_f .footer_dibu dl dt {
  font-size: 16px;
  color: #008aa4;
  font-weight: bold;
}
body .footer .mo {
  width: 100%;
  height: 140px;
  background-color: #2a2c2e;
}
body .footer .mo .mo_content a:nth-child(1) {
  width: 70%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
body .footer .mo .mo_content a:nth-child(1) img {
  width: 15%;
}
body .footer .mo .mo_content a:nth-child(2) {
  float: left;
  width: 30%;
}
body .footer .mo .mo_content a:nth-child(2) img {
  width: 15%;
}
body .footer .mo .mo_content span {
  float: left;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}
